.photo {
  padding: 0 20px 50px 110px;
}

@media (max-width: 1024px) {
  .photo {
    padding: 0 20px 50px 20px;
  }
}

.photo_inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, 330px);
  gap: 20px;
  justify-content: center;
}

.item {
  border-radius: 5px;
  cursor: pointer;
  width: 330px;
  height: 200px;
  transition: transform 0.3s ease;
  overflow: hidden;

  &:hover {
    transform: scale(1.03);
  }
}

@media (max-width: 1024px) {
  .item {
    width: 100%;
  }
}

.item img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

  img {
    border-radius: 5px;
    max-width: 100%;
  }
}

.modal_inner {
  width: 80%;
}

@media (max-width: 768px) {
  .modal_inner {
    width: 90%;
  }
}

.modal_close {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
