.form {
  padding: 20px 20px 0 110px;

  input {
    outline: none;
    border: none;
    color: #000;
    font-size: 1.3rem;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    transition: all 0.3s ease;
  }
}

@media (max-width: 1024px) {
  .form {
    padding: 20px;
  }
}

.cards {
  padding: 20px 20px 20px 110px;
}

@media (max-width: 1024px) {
  .cards {
    padding: 20px 20px 100px 20px;
  }
}

.cards_inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: center;
  gap: 20px;
}

@media (max-width: 520px) {
  .cards_inner {
    justify-content: center;
  }
}

.cards_title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.card {
  border-radius: 5px;
  position: relative;
  width: 220px;
  height: 320px;
  overflow: hidden;
  transition: all 0.3s ease !important;

  &:hover {
    transform: scale(1.03);
  }

  &:hover .btn_fav {
    opacity: 1;
    visibility: visible;
  }
}

.card img {
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.4);
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.card a {
  display: block;
  width: 100%;
  height: 100%;
}

.person_outer {
  padding: 20px 110px 20px 110px;

  @media screen and (max-width: 1024px) {
    padding: 20px 20px 100px;
  }
}

.person_inner {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.person_img {
  border-radius: 5px;
  width: 300px;
  height: 450px;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.person_info {
  padding: 10px;

  h1 {
    margin-bottom: 10px;
  }

  div {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .person_biography {
    font-size: 14px;
    line-height: 20px;
  }

  .btn_readMore {
    font-size: 14px;
    color: #1976d2;
    padding: 3px 0;
  }
}

.center {
  text-align: center;
}

.btn_fav {
  font-size: 2rem;
  color: #1976d2;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 768px) {
  .btn_fav {
    opacity: 1;
    visibility: visible;
  }
}

.empty {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: 20px 20px 20px 110px;

  @media screen and (max-width: 1024px) {
    padding: 20px;
  }
}
