@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #09090b;
  --primary-foreground: #ffffff;

  --background: #ffffff;
  --foreground: #09090b;

  --muted-foreground: #71717a;

  --popover: #ffffff;

  --border: #d4d4d8;

  --accent: #f4f4f5;

  --icon: #52525b;
}

.dark {
  --primary: #ffffff;
  --primary-foreground: #09090b;

  --background: #09090b;
  --foreground: #ffffff;

  --muted-foreground: #a1a1aa;

  --popover: #18181b;

  --border: #27272a;

  --accent: #27272a;

  --icon: #a1a1aa;
}

button,
input {
  outline: none;
}

input {
  background: none;
}

input::placeholder {
  color: var(--muted-foreground);
}

button:disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

.svg {
  color: var(--icon);
  max-width: 20px;
  min-width: 20px;
  width: 20px;
  height: 20px;
}
